* { margin: 0px; padding: 0px; }
body { margin: 0px; padding: 0px; background: linear-gradient(to bottom, #F4B406, #FA6247, #E13767, #B343D5, #517EFB, #38FA7C);}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
    background: #000000;
}

.color-1 {color: #F9B700;}
.color-2 {color: #FF5F43;}
.color-3 {color: #E63365;}
.color-4 {color: #B53FD9;}
.color-5 {color: #4D7CFF;}
.color-6 {color: #33FF7A;}

#hero {
    max-width: 1440px;
    margin: 0px auto;

    /* Page padding */
    padding: 0px 1rem;
}

:root { font-size: 16px; font-family: "Roboto", sans-serif; }

@media (min-width: 375px) { :root { font-size: 16.8px; } }  /* 16 * 1.05 */
@media (min-width: 425px) { :root { font-size: 17.6px; } }  /* 16 * 1.10 */
@media (min-width: 768px) { :root { font-size: 18.4px; } }  /* 16 * 1.15 */
@media (min-width: 1024px){ :root { font-size: 19.2px; } }  /* 16 * 1.20 */
@media (min-width: 1440px){ :root { font-size: 20px;   } }  /* 16 * 1.25 */
@media (min-width: 1920px){ :root { font-size: 20.8px; } }  /* 16 * 1.30 */

/* Set sections to "grid-column: 1 / 6" for half width, 1 / -1 for full page.  */
.grid-box {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/* Banner */

#banner {
    position: relative;
    min-height: 320px;   /* prevents the “100px tall” issue */
    height: 600px;
    max-width: 1920px;
    margin: 0px auto;

    background: linear-gradient(rgba(0,0,0,0.1), rgba(0, 0, 0, 0.1));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

#banner-text-contaner {
    color: white;
    text-align: center;
    
    padding: 2rem;
    background-color: rgba(39, 39, 39, 0.9);
    border-radius: 20px;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#slogan {
    font-size: 1.5rem;
    font-weight: 345;
    text-shadow: 2px 2px 4px #000000;
}

/*** Hero ***/

/* Pinnacle partners */
#pinnacle-partners {
    margin: 2rem 0px;
}

#pinnacle-partners-banner {
    width: 100%;
    border-radius: 20px;

    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

/* How it works */

/* How it works layout: same idea as column-card-view */
.HIW-container {
  display: grid;
  grid-template-columns: 1fr;  /* mobile */
  gap: 2rem;
  margin-bottom: 2rem;
}

/* 2 columns */
@media (min-width: 768px) {
  .HIW-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 3 columns */
@media (min-width: 1024px) {
  .HIW-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.HIW-card {
  background-color: #333333;
  color: #fff;
  border-radius: 20px;
  padding: 2rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}


.HIW-card h3 {
    margin: 0;
    font-size: 1.17rem;
}

.HIW-card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.6rem;
  max-width: 28ch;
  opacity: 0.9;
}

/* Who We Are */

#who-we-are {
    margin-bottom: 5rem;
}

#who-we-are-header {
    text-align: center;
    margin-bottom: 2rem;

    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    background-color: rgba(255, 255, 255, 0.92);
}

#who-we-are-p {
    text-align: center;
    margin-top: 1.5rem;
    font-weight: 450;
}

#who-we-are-h2 {
    grid-column: 1 / 12;
    text-align: center;

    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    background-color: rgba(255, 255, 255, 0.92);
}

#who-we-are-h3 {
    
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0.5rem;

}

#who-we-are-img {
    
    align-self: center;
    margin-top: 2rem;
    margin-bottom: 0.5rem;

}

#who-we-are-hint {
    font-size: 0.75rem;
    font-weight: lighter;
}

#who-we-are-grid-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem
}

@media (min-width: 768px) {
    #who-we-are-grid-box {
        grid-template-columns: repeat(2, 1fr);
    }
}

.who-we-are-card {
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    background-color: rgba(255, 255, 255, 0.92);

    align-self: start;
}

.who-we-are-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin-top: 1rem;
    padding-left: 1.25rem;
}

.who-we-are-list > li {
    font-size: 1rem;

    list-style: inside;
    padding-left: 1rem;
}

/* Contact */

#contact-info-card {
    background-color: white;
    grid-column: 1;
}

#contact-grid-box {
    gap: 2rem;
}

/* DESKTOP — split 50/50 */
@media (min-width: 768px) {
    #contact-form-card {
        grid-column: 7 / 13;   /* left 6 columns */
    }

    #contact-info-card {
        grid-column: 1 / 7;  /* right 6 columns */
    }
}

#contact-info-card {
    color: white;
    padding: 2rem;
    background-color: #333333;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

#contact-info-card > h2 {
    margin-bottom: 0.25rem;
}

#contact-info-card > p {
    margin-bottom: 1rem;
}

.contact-block {
    padding: 1.25rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.contact-block > h4 {
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.contact-block > p {
    margin-bottom: 0.5rem;
    font-weight: 300;
}

.contact-faded {
    color: #b0b0b0;
    font-size: 0.95rem;
}

/* Footer */

footer {
    background-color: #2525258f;
    color: white;

    text-align: center;
    margin-top: 10rem;
    padding: 1rem;
}

